@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Fraunces", serif;
    }

    body{
        background-color: #f5ebeb;
    }
      
    a{
        text-decoration: none;
    }
}